.cat-color{
    background-color: #fab658;
    color: #625358;
};
body {
    color: #6f3728;
    background-color: #f3b6c6;
    margin: 0;
    text-align: center;
}
.section {
    margin: auto; 
.shadow {
    background-color: #eae7e2;
}
input[type='radio'] { 
    transform: scale(4); 
    accent-color: #fab658; 
}
