cat-color{
    background-color: #fab658;
    color: #625358;
}
body {
    color: #6f3728;
    background-color: #f3b6c6;
    margin: 0;
    text-align: center;
	font-size: 4rm;
}
.section {
    margin: auto 20px;
	background-color: #ffffff99;
	padding: 20px;
	border-radius: 12px;
	height: 100%vh;

}
.shadow {
    background-color: #eae7e2;
}
input[type='radio'] { 
    transform: scale(2);
    accent-color: #fab658; 
	margin: 9px;
}
button {
	background-color: #625358;
	padding: 10px;
	border-radius: 12px;
}
